.wc-block-usaepay-gateway-container input[type=text],
.wc-block-usaepay-gateway-container input[type=number],
.wc-block-usaepay-gateway-container input[type=tel],
.wc-block-usaepay-gateway-container input[type=text]:focus,
.wc-block-usaepay-gateway-container input[type=number]:focus,
.wc-block-usaepay-gateway-container input[type=tel]:focus {
	box-shadow: none;
	background-color: #ffffff;
}

.wc-block-usaepay-gateway-container input#cardNumber {
	width: calc(52% - 2.1px) !important;
}

.wc-block-usaepay-gateway-container input#expiryDate {
	width: 32% !important;
}

.wc-block-usaepay-gateway-container input#cvc {
	width: 16% !important;
}
